<header>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/__project.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</header>
<body>
    <div class="main_container">
        <div class="header">
            {% include "header.html" %}
        </div>
        <div class="project_container">
            <div class="title_container">
                <div class="title" id="title"></div>
                <hr class="line">
            </div>
            <div class="date" id="completion_date"></div>
            <div class="project_contents">
                <div class="project_text">
                    <div class="what_it_does_container" id="what_it_does_container">
                        <div class="subsection_title" id="what_it_does_title">WHAT IT DOES</div>
                        <div class="section_text" id="what_it_does_text"></div>
                    </div>
                    <div class="technical_details_container" id="technical_details_container">
                        <div class="subsection_title" id="technical_details_title">TECHNICAL DETAILS</div>
                        <div class="section_text" id="technical_details_text"></div>
                    </div>
                </div>
                <div class="project_details" id="project_details">
    
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/__project.js') }}" defer></script>
</body>