<header>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">
</header>
<body>
    <div id="about_container" class="about_container">
        <div class="title_container_about">
            ABOUT
            <hr class="line_about">
        </div>
        <div class="side_by_side">
            <div class="about_content">
                Hey! I’m Sarah! I’m a Robotics Engineer, Maker, and Jack-of-all-trades. I studied Robotics and Mechanical Engineering at Worcester Polytechnic Institute. I have a passion for Mechanical Design, Electrical Projects, Programming, and love to learn new skills. Take a look at some of my projects!
            </div>
            <div class="chevrons">
                <div class="chevron" style="transform: translateY(30%);"></div>
                <div class="chevron"></div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/about.js') }}" defer></script>
</body>
