<header>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
</header>
<body>
    <div id="projects_container" class="projects_container">
        <div class="title_container">
            PROJECTS
            <hr class="line">
        </div>
        <div id="filters" class="filters">
            <div id="filter_catagory" class="filter">CATAGORY</div>
            <div id="skill_catagory" class="filter">SKILL</div>
        </div>
        <div id="all_projects" class="all_projects"></div>
    </div>
    <script src="{{ url_for('static', filename='js/projects.js') }}" defer></script>
</body>
