.about_container{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


.title_container_about{
    display: flex;
    flex-direction: row;
    font-size: 130;
    font-weight: bold;
    color: var(--black);
    width: 100%;
    height: max-content;
    padding: 0px 20px 20px 20px;
}

.line_about{
    width: 100%;
    height: 0px;
    margin: auto 20px auto 20px;
    border: 6px solid var(--black);
}

.about_content{
    background-color: var(--black);
    color: var(--white);
    margin: 0 0 20px 20px;
    width: 70%;
    padding: 20px;
    font-size: xx-large;
    height: fit-content;
}

.chevron{
    width: 11vw;
    background-color: var(--black);
    height: 9vw;
    clip-path: polygon(50% 50%, 100% 0, 100% 50%, 52% 100%, 0 50%, 0% 0%);
}

.side_by_side{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.chevrons{
    margin: auto 5vw 5vh auto;
}


@keyframes jumpInfiniteChevrons {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0%);
    }
}


.chevrons:hover{
    animation: jumpInfiniteChevrons  1.5s infinite;
}