<header>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</header>
<body>
    <div class="header">
        {% include "header.html" %}
    </div>
    <div class="main_container">
        <div style="border: 3px solid var(--white); padding: 160px; width: fit-content;">
            <div style="border: 3px solid var(--white); padding: 125px; width: fit-content;">
                <div style="border: 3px solid var(--white); padding: 95px; width: fit-content;">
                    <div style="border: 3px solid var(--white); padding: 70px; width: fit-content;">
                        <div style="border: 3px solid var(--white); padding: 50px; width: fit-content;">
                            <div style="border: 3px solid var(--white); padding: 35px; width: fit-content;">
                                <div style="border: 3px solid var(--white); padding: 25px; width: fit-content;">
                                    <div style="border: 3px solid var(--white); padding: 15px; width: fit-content;">
                                        <div class="error_container">
                                            <div class="error_code">404</div>
                                            <div class="not_found">PAGE NOT FOUND</div>
                                            <a href = "{{ url_for('main.index')}}" class="learn_more_container">
                                                <div class="learn_more_text">RETURN HOME</div>
                                                <div class="learn_more_arrows">>></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>